@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("reset.css");
@import url("fonts.css");
@import url("images.css");]


body {
  background-color: #fffae5;
  margin: 0 0 10em;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

#icon {
  float: right;
}


.nav-contain {
  text-align: center;
}

.nav {
  padding: .5em;
}

#title {
  width: 30%;
}

#subtitle {
  padding-top: .75em;
}

#header {
  padding-top: .5em;
  width: 100%;
  height: 10%;
  background-color: #FFD000;
  flex: none;
}

#footer {
  width: 100%;
  background-color: #FFD000;
  flex: none;
}

/*@media all and (min-width: 45em) {
  #footer {
    bottom: 0%;
    height: 17%;
  }
}*/

#credit {
  text-align: center;
}

/*@media all and (min-width: 70em) {
  #credit {
    text-align:left;
  }
}*/

.landing {
  border-radius: .5em;
  float: center;
  height: 25%;
  width: auto;
  margin: 1em;
}

#hi {
  padding:.5em;
}

p {
  padding: 1em;
}

button {
  float: left;
}

.badge {
  margin: .25em;
  padding: .5em;
  background-color: #ebc000;
  border: .2em solid #ebc000;
  border-radius: 2em;
}

h3 {
  padding: .5em;
}

/* dark green: #4c8b2b */
/* light green: #d4e88b */
