@import url('https://fonts.googleapis.com/css?family=Cabin|Karla');
@import url('font.css');

body {
  font-family: 'Karla', sans-serif;
  font-size: 120%;
  color: #38300a;
}

h3 {
  text-align: center;
  font-family: 'Nickainley-Normal', cursive;
  font-size: 2em;
}

.center {
  text-align: center;
}

.fancy {
  font-family: 'Nickainley-Normal', cursive;
  font-size: 2em;
}

.nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #9B7F00;
}

#title {
  text-align: center;
  font-family: 'Nickainley-Normal', cursive;
  font-size: 4em;
  color: #38300a;
}

#subtitle {
  color: #38300a;
}

#hi {
  font-family: 'Nickainley-Normal', cursive;
  font-size: 2em;
}

#footer {
  color: #38300a;
}

.badge {
  color: white;
  font-size: .75em;
}

.app-name {
  font-family: 'Nickainley-Normal', cursive;
  font-size:2em;
  padding: .5em;
}

a.nav:hover {
  color: #9B7F00;
}

a.nav:active {
  color: #9B7F00;
}

a.nav:focus {
  color: #9B7F00;
}

a.main {
  color: #a5a5a5;
}

a.main:hover {
  color: #daa520;
}

a.main:active {
  color: #daa520;
}

a.main:focus {
  color: #daa520;
}
