@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("reset.css");
@import url("fonts.css");
@import url("images.css");]

/*--------------*/
/* General */
/*--------------*/
body {
  background-color: #fffae5;
}

.container-fluid {
  padding: 0;
}

h3 {
  padding: .5em;
}

p {
  padding: 1em;
}

.nav-contain {
  text-align: center;
}

.nav {
  padding: .5em;
}

/*--------------*/
/* Layout */
/*--------------*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/*--------------*/
/* Header */
/*--------------*/

#header {
  padding-top: .5em;
  width: 100%;
  height: 10%;
  background-color: #FFD000;
  flex: none;
}

#title {
  width: 30%;
}

#subtitle {
  padding-top: .75em;
}

#icon {
  float: right;
}

/*--------------*/
/* Footer */
/*--------------*/
#footer {
  width: 100%;
  background-color: #FFD000;
  flex: none;
}

#credit {
  text-align: center;
}
/*--------------*/
/* Landing*/
/*--------------*/
.landing {
  border-radius: .5em;
  float: center;
  height: 25%;
  width: auto;
}

#hi {
  padding:.5em;
}

/*--------------*/
/* About */
/*--------------*/

/*--------------*/
/* Contact */
/*--------------*/

/*--------------*/
/* Landing */
/*--------------*/

/*--------------*/
/* Not Found */
/*--------------*/

/*--------------*/
/* Work */
/*--------------*/

/*--------------*/
/* App */
/*--------------*/
.badge {
  margin: .25em;
  padding: .5em;
  background-color: #fed500;
  border: .2em solid #ebc000;
  border-radius: 2em;
}

.skill {
  padding: .75em;
  padding-bottom: 0;
}
