@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('nickainley.css');

/*--------------*/
/* General */
/*--------------*/
body {
  font-family: 'Karla', sans-serif;
  font-size: 120%;
  line-height: 145%;
  color: #38300a;
}
/*--------------*/
/* Layout */
/*--------------*/
a.main {
  color: #9d9d9d;
}

a.main:hover, a.main:active, a.main:focus {
  color: #ffd602;
}

.fancy, .app-name {
  text-align: center;
  font-family: 'Nickainley-Normal', cursive;
  font-size: 2.5em;
  line-height: 120%;
  padding: .5em;
}
/*--------------*/
/* Header */
/*--------------*/
#title {
  text-align: center;
  font-family: 'Nickainley-Normal', cursive;
  font-size: 4em;
  line-height: 100%;
  color: #38300a;
}

#subtitle {
  text-align: center;
  color: #38300a;
}

.nav {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #9B7F00;
}

a.nav:hover, a.nav:active, a.nav:focus {
  color: #9B7F00;
}
/*--------------*/
/* Footer */
/*--------------*/
#footer {
  color: #38300a;
}
/*--------------*/
/* Landing*/
/*--------------*/
#hi {
  text-align: left;
}
/*--------------*/
/* About */
/*--------------*/
#skills {
  padding-bottom: 0;
  font-size: 2em;
}
/*--------------*/
/* Contact */
/*--------------*/
.reach-out {
  font-size: 1.25em;
}
/*--------------*/
/* Landing */
/*--------------*/

/*--------------*/
/* Not Found */
/*--------------*/

/*--------------*/
/* Work */
/*--------------*/

/*--------------*/
/* App */
/*--------------*/
.app-name {
  text-align: center;
  font-size: 2em;
}
.badge {
  color: #38300a;
  font-size: .75em;
}
.skill {
  font-weight: 900;
  font-size: 1.25em;
}

.caption {
  text-align: justify;
  hyphens: auto;
}
