@import url('https://fonts.googleapis.com/css?family==Karla');
@import url('nickainley.css');

body {
  font-family: 'Karla', sans-serif;
  font-size: 120%;
  line-height: 145%;
  color: #38300a;
}

.fancy, .app-name {
  text-align: center;
  font-family: 'Nickainley-Normal', cursive;
  font-size: 2.5em;
  line-height: 120%;
  padding: .5em;
}

.app-name {
  text-align: center;
  font-size: 2em;
}

#hi {
  text-align: left;
}

#title {
  text-align: center;
  font-family: 'Nickainley-Normal', cursive;
  font-size: 4em;
  line-height: 100%;
  color: #38300a;
}

#subtitle {
  text-align: center;
  color: #38300a;
}

#footer {
  color: #38300a;
}

.badge {
  color: #38300a;
  font-size: .75em;
}

.nav {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #9B7F00;
}

a.nav:hover, a.nav:active, a.nav:focus {
  color: #9B7F00;
}

a.main {
  /*color: #a5a5a5;*/
  color: #9d9d9d;
}

a.main:hover, a.main:active, a.main:focus {
  color: #ffd602;
}

#skills {
  padding-bottom: 0;
  font-size: 2em;
}

.skill {
  font-weight: 900;
  font-size: 1.25em;
  padding: .75em;
  padding-bottom: 0;
}

.caption {
  text-align: justify;
  hyphens: auto;
}

.reach-out {
  font-size: 1.25em;
}
